<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <p><a href="/">
        <button type="submit">Back</button>
    <p></a></p>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="${method}">User create</span>
    </div>
</nav>
<section>
    <form th:action="@{/createTicket}" th:method="get">
        <div class="input-group mb-3">
            <input type="long" name="eventId" class="form-control" placeholder="eventId">
            <input type="long" name="userId" class="form-control" placeholder="userId">
            <input type="text" name="category" class="form-control" placeholder="category">
            <input type="integer" name="place" class="form-control" placeholder="place">
            <a href="/createTicket">
                <button type="submit">Save</button>
            </a>
        </div>
    </form>
</section>


</body>
</html>