<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <p><a href="/">
        <button type="submit">Back</button>
    <p></a></p>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="${method}">User update</span>
    </div>
</nav>

<section>
    <form th:action="@{/updateUser}" th:method="get">
        <div class="input-group mb-3">
            <input type="text" th:value="${id}" readonly="readonly" name="id"/>
            <input type="text" name="name" class="form-control" placeholder="Name">
            <input type="text" name="email" class="form-control" placeholder="Email">
            <a href="/updateUser">
                <button type="submit">Save</button>
            </a>
        </div>
    </form>
</section>


</body>
</html>