
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User</title>
</head>
<body>

<big style="font-size: 200%;"><b><td th:text=${message}></td></b></big>
<br></br>
<big style="font-size: 100%;"><b><td th:text=${question}></td></b></big>



<p><a href="/allUsers">
    <button type="submit">View all users</button>
</a></p>





<p><a href="/allEvents">
    <button type="submit">View all events</button>
</a></p>




<p><a href="/allTickets">
    <button type="submit">View all tickets</button>
</a></p>


</body>
</html>